<div class='row'>
  <h1 id='title'>Younifier</h1>
</div>

<div class='row'>
  <div class='large-4 columns large-offset-1 box'><%= link_to "Facebook", "/auth/facebook" %></div>
  <div class='large-4 large-offset-1 columns box  '><%= link_to "Github", "/auth/github" %></div>
</div>
<div class='row'>
  <div class='large-4 large-offset-1 columns box  '><%= link_to "Twitter", "/auth/twitter" %></div>
  <div class='large-4 large-offset-1 columns box  '><%= link_to "Linkedin", "/auth/linkedin" %></div>
</div>